<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/functions.js"></script>
        <meta charset="UTF-8" />
        <title> Image Search App </title>
    </head>
    <body>
        
    <a href="/"> Back to Search </a>
    <h1>Favorite Pics
    </h1>
    
    <% rows.forEach( function(row) { %>
    
        <a class="keywordLink"> <%= row['keyword'] %> </a>
        
        <% }) %>
        
        <hr>
        
        <div id="favorites">
        </div>
    </body>
</html>
       